@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Sistema de Gestión RUES</h1>
    <p>La fuente de información empresarial más robusta con la que cuenta Colombia <a href="https://ruesfront.rues.org.co/">RUES</a>.</p>
</div>